h1 {
  font-family: "Poppins", serif;
  font-weight: 700;
}

a {
  color: rgb(0, 0, 0);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.nav {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 0 20%;
}

.nav button {
  font-size: 3rem;
  position: absolute;
  top: -10px;
  right: 10px;
  border: none;
  display: none;
}

.nav img {
  object-fit: cover;
  width: 250px;
  height: 50%;
}

.nav div a {
  margin-left: 40px;
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(65, 60, 60);
  padding: 0px 20px;
  transition: 0.3s;
}

.nav div a:hover {
  color: rgb(0, 0, 0);
  border-bottom: 4px solid black;
 
  font-size: 1.8rem;
}

@media (max-width: 500px) {
  .nav-open {
    display: none;
  }
}

@media (max-width: 530px) {
  .nav-open img{
    margin-right: 20%;
  }
}

@media (max-width: 715px) {
  .nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .options {
    display: none;
  }

  .nav button {
    display: block;
  }
}

@media (max-width: 1200px) {
  .nav {
    flex-direction: column;
    gap: 30px;
  }
  .options {

  }
}

.nav-open {
  margin-left: 140px;
}

/* side bar */

.sidebar {
  width: 200px;
  height: 100vh; /* altura igual à altura da viewport */
  background-color: #280d0d;
  position: fixed;
  top: 0;
  left: -500px;
  transition: left 0.3s ease;
}

.sidebar.open {
  width: 200px;
  height: 100vh; /* altura igual à altura da viewport */
  background-color: #280d0d;
  position: fixed;
  top: 0;
  left: 0px;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
}
