h1 {
  font-family: 'Poppins', serif;
  font-weight: 700;
}

a {
  color: rgb(0, 0, 0);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.cont {
  height: 300px;
  width: 300px;
  background-color: black;
}

.options a{
  width: 0 50px;
}

