.main-section {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  background: #212a3e;
}

.main-section .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0 0 200px;
  gap: 30px;
  width: 70%;
}

.main-section .intro p {
  font-weight: 700;
}

.main-section .intro h1 {
  width: fit-content;
  color: #f5efe7;
}

.titulo {
  --animate-duration: 2s;
}

.titulo span:hover {
  background-color: #f5efe7;
  color: #212a3e;
  border-radius: 10px;
  transition: 1s;
  -webkit-box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.32);
}

.main-section .icon-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  margin-left: 300px;
}

.icons {
  width: fit-content;
  font-size: 1.5rem;
  transition: 0.5s;
}

.icons:hover {
  transition: 0.5s;
  margin: 4px 0;
  border-bottom: 4px solid #77037B;
  font-size: 1.8rem;
  font-weight: 700;
}

@media (max-width: 1350px) {
    .main-section .intro {
        margin: 0 0 0 50px;
    }
    .main-section .icon-section {
        margin-left: 250px
    }
}

@media (max-width: 950px) {
    .main-section .intro { 
        margin: 0 0 0 16px;
    }
    .main-section .icon-section {
        margin-left: 70px
    }
}

@media (max-width: 500px) {
  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-section section {
    margin: 0 0;
  }

  .main-section .intro {
    margin: 0px;
  }

  .main-section .icon-section {
    flex-direction: row;
    margin: 60px 0 0 0;
  }
}