.about-me {
    background-color: #f5efe7;
}

.about-me .about-img {
    border-radius: 100%;
    width: 30%;
}

.about-me .about-img {
    border-radius: 100%;
    width: 100%;
    object-fit: cover;
}


