.about-me {
    background-color: #f5efe7;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
}

.about-me .about-img {
    width: 50%;
    margin-left: 100px;
}

.about-me .about-img img{
    border-radius: 100%;
    width: 100%;
    object-fit: cover;
}

.about-me .about-txt h2{
    text-align: center;
    margin-right: 100px;
}

