.project-section {
    background: #212a3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.project-section {
    color: #f5efe7
}

.carrossel {
    width: 80%;
}