.nav {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0 20%;
  background: #f5efe7;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav button {
  font-size: 3rem;
  position: absolute;
  top: -10px;
  right: 10px;
  border: none;
  display: none;
  background: none;
  color: black;
}

.logo {
  text-decoration: none;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
}

.logo-chaves {
  color: #000;
  font-size: 1.7rem;
}

.logo-nome {
  color: #77037b;
}

.nav ul {
  display: flex;
  margin: 0;
}

.nav ul li {
  margin-left: 40px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
  padding: 0px 20px;
  transition: 0.3s;
  cursor: pointer;
}

.nav ul li:hover {
  color: rgb(0, 0, 0);
  border-left: 4px solid #77037b;
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .nav {
    height: 60px;
  }
  .nav .nav-open {
    display: none;
  }
  .hamburguer {
    position: absolute;
    top: 18px;
    right: 0px;
  }
}

@media (max-width: 530px) { 

}

@media (max-width: 715px) {
  .nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .nav ul {
    display: none;
  }

  .nav button {
    display: block;
  }
  

}

@media (max-width: 1200px) {
  .nav {
    flex-direction: column;
    gap: 30px;
  }
  .logo {
    width: 175px;
    height: 50px;
  }
}

.nav-open {
  margin-left: 140px;
}

/* side bar */
